body{
  text-align: center;
  display: block;
  margin: auto;
  max-width: 90vw;
}
hr{
  width: 34rem;
  height: 1rem;
  background-color: rgba(139, 139, 209, 0.473);
  margin-top: 2.2rem;
  margin-bottom: 0;
}
article h2{
  text-align: center;
  font-size: 2.7rem;
  font-weight: lighter;
  margin-top: 0.2rem;
}
article p{
  text-align: left;
  margin-left: 23rem;
  margin-right: 23rem;
}
.container{
  display: inline;
}